@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
body {
  background-color: #BEFDF5;
  color: #000463;
  font-family: "Hepta Slab", serif;
  font-size: 12pt;
  padding: 0;
  margin: 0;
}
body button {
  position: relative;
  top: 0px;
  border: none;
  border-radius: 100000px;
  padding: 13px;
  font-family: "Dela Gothic One", sans-serif;
  letter-spacing: 1pt;
  background-color: #c2074f;
  color: #ffffff;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body button:hover {
  top: -3px;
  background-color: #2D2499;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .background {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(105%);
  z-index: -10;
}
body .background #background-gradient {
  opacity: 50%;
  width: 100vw;
  min-height: 100vh;
  position: sticky;
  z-index: -5;
}
body .background #background-dots {
  position: absolute;
  right: -20vw;
  bottom: -20vh;
  opacity: 60%;
  width: 750px;
  z-index: -4;
}
body .background .background-stars {
  position: absolute;
  opacity: 30%;
  left: 0vw;
  top: 0vh;
  width: 100vw;
  height: 100vh;
  z-index: -3;
}
body .background .background-stars #background-star-bg {
  position: absolute;
  left: -50px;
  top: -50px;
  animation: rotate 30s linear 0s infinite forwards;
  width: 450px;
}
body .background .background-stars #background-star-md {
  position: absolute;
  left: 460px;
  top: -30px;
  animation: rotate 30s linear 0s infinite forwards;
  width: 250px;
}
body .background .background-stars #background-star-sm {
  position: absolute;
  left: 300px;
  top: 370px;
  animation: rotate 30s linear 0s infinite forwards;
  width: 200px;
}
body #background-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100vw;
  min-height: 100vh;
  z-index: -10;
}
body .nav-bar {
  z-index: -2;
}
body .nav-bar #nav-bar-background {
  position: absolute;
  right: 0;
  top: 0;
  width: 625px;
  z-index: -5;
}
body .nav-bar #nav-bar-background-shadow {
  position: absolute;
  right: -55px;
  top: -25px;
  width: 680px;
  opacity: 25%;
  z-index: -6;
}
body .nav-bar ul {
  padding-top: 30pt;
  z-index: -1;
}
body .nav-bar ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
}
body .nav-bar ul li #home {
  position: absolute;
  right: 440px;
  top: 50px;
}
body .nav-bar ul li #home #home-text {
  position: absolute;
  width: 80px;
  right: 18px;
  top: 17px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: 0;
}
body .nav-bar ul li #home #home-background {
  position: relative;
  width: 110px;
  z-index: -1;
  right: 0px;
  bottom: 0px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .nav-bar ul li #home #home-text-selected {
  position: absolute;
  width: 80px;
  right: 18px;
  top: 17px;
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: 0;
}
body .nav-bar ul li #home #home-background-selected {
  position: relative;
  width: 110px;
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .nav-bar ul li #home #home-background-shadow-selected {
  position: absolute;
  width: 110px;
  transform: translateX(10%) translateY(5%);
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: -2;
}
body .nav-bar ul li #home #home-decoration-selected {
  position: absolute;
  width: 25px;
  top: 27px;
  left: -15px;
  z-index: -1;
}
body .nav-bar ul li #home:hover #home-background {
  right: 7px;
  bottom: 4px;
}
body .nav-bar ul li #home:hover #home-text {
  right: 30px;
  top: 10px;
}
body .nav-bar ul li #home:hover #home-decoration-selected {
  animation: rotate 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99) 0s 1 forwards;
}
body .nav-bar ul li #home:hover #home-background-shadow-selected {
  transform: translateX(13%) translateY(10%) rotate(5deg);
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .nav-bar ul li .portfolio {
  position: absolute;
  right: 250px;
  top: 35px;
}
body .nav-bar ul li .portfolio #portfolio-background {
  position: relative;
  left: 0;
  width: 130px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: -1;
}
body .nav-bar ul li .portfolio #portfolio-background-selected {
  position: absolute;
  left: -130px;
  width: 130px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: -1;
}
body .nav-bar ul li .portfolio #portfolio-decoration-selected {
  position: absolute;
  width: 25px;
  top: 27px;
  left: -12px;
  z-index: -1;
}
body .nav-bar ul li .portfolio #portfolio-background-shadow {
  position: absolute;
  left: -145px;
  width: 130px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: -2;
}
body .nav-bar ul li .portfolio #portfolio-text {
  position: absolute;
  right: 12px;
  top: 20px;
  width: 102px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: 0;
}
body .nav-bar ul li .portfolio #portfolio-text-selected {
  position: absolute;
  right: 12px;
  top: 20px;
  width: 102px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: 0;
}
body .nav-bar ul li .portfolio:hover #portfolio-background {
  left: 15px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .nav-bar ul li .portfolio:hover #portfolio-decoration-selected {
  animation: rotate 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99) 0s 1 forwards;
}
body .nav-bar ul li .portfolio:hover #portfolio-background-shadow {
  transform: translateX(-5%) translateY(10%) rotate(-5deg);
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .nav-bar ul li .portfolio:hover #portfolio-text {
  transform: translateX(30%);
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .nav-bar ul li #contact {
  position: absolute;
  right: 60px;
  top: 30px;
}
body .nav-bar ul li #contact #contact-text {
  position: absolute;
  width: 120px;
  left: 15px;
  top: 15px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: 0;
}
body .nav-bar ul li #contact #contact-background {
  position: relative;
  width: 150px;
  right: 0;
  bottom: 0;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: -1;
}
body .nav-bar ul li #contact #contact-text-selected {
  position: absolute;
  width: 120px;
  left: 15px;
  top: 15px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: 0;
}
body .nav-bar ul li #contact #contact-background-selected {
  position: relative;
  width: 150px;
  right: 0;
  bottom: 0;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: -1;
}
body .nav-bar ul li #contact #contact-background-shadow {
  position: absolute;
  width: 150px;
  transform: translateX(10%) translateY(5%) rotate(5deg);
  right: 0;
  bottom: 10px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
  z-index: -2;
}
body .nav-bar ul li #contact #contact-decoration-selected {
  position: absolute;
  width: 25px;
  top: 22px;
  left: -15px;
  z-index: -1;
}
body .nav-bar ul li #contact:hover #contact-background {
  right: 7px;
  bottom: 4px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .nav-bar ul li #contact:hover #contact-text {
  left: 0px;
  top: 5px;
  transition: all 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .nav-bar ul li #contact:hover #contact-decoration-selected {
  animation: rotate 0.5s cubic-bezier(0.83, 0.13, 0.22, 0.99) 0s 1 forwards;
}
body .nav-bar ul li #contact:hover #contact-background-shadow {
  transform: translateX(8%) translateY(10%) rotate(12deg);
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body #fritz-img {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translateX(-530px) translateY(-44%);
  height: 700px;
  z-index: 1;
}
body #fritz-img-shadow {
  position: absolute;
  left: 49.5vw;
  top: 49.5vh;
  transform: translateX(-530px) translateY(-44%);
  height: 700px;
  z-index: -4;
}
body #fritz-spray-paint {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translateX(-610px) translateY(-90%);
  width: 450px;
  z-index: -4;
}
body .center-container {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translateX(-50%) translateY(-40%);
}
body .center-container .center-text-box .center-text-content {
  position: absolute;
  width: 500px;
  top: 40%;
  right: 15%;
  font-size: 12pt;
}
body .center-container .center-text-box .center-text-content #center-text-paragraph {
  text-align: right;
}
body .center-container .center-text-box .center-text-content #center-button {
  float: right;
}
body .center-container .center-text-box .center-text-content #center-icon-list {
  list-style: none;
  position: relative;
  top: 14px;
}
body .center-container .center-text-box .center-text-content #center-icon-list .center-icon {
  position: relative;
  top: 0;
  float: right;
  width: 25px;
  margin-left: 25px;
  transform: none;
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .center-container .center-text-box .center-text-content #center-icon-list .center-icon:hover {
  transform: scale(120%);
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .center-container .center-text-box #center-text-background {
  width: 850px;
  z-index: -3;
}
body .center-container .center-text-box #center-text-background-shadow {
  position: absolute;
  width: 850px;
  top: 15px;
  left: 15px;
  opacity: 30%;
  z-index: -3;
}
body .center-container .center-text-box #center-text-title {
  position: absolute;
  width: 500px;
  top: 15%;
  right: 15%;
}
body .contact-ul {
  list-style: none;
  float: none;
}
body .contact-ul .contact-li {
  margin-bottom: 25px;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .contact-ul .contact-li:hover {
  background-color: #c2074f;
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .contact-ul .contact-li .contact-icon {
  width: 100%;
}
body .contact-ul .contact-li .contact-icon img {
  width: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
body #contact-taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}
body .contact-notepad {
  position: absolute;
  z-index: 9;
  text-align: center;
  width: 688px;
  height: 417px;
  right: 100px;
  top: 200px;
}
body .contact-notepad .contact-notepad-header {
  position: absolute;
  width: 688px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0);
}
body .contact-notepad .contact-notepad-form {
  font-family: "Micro 5", sans-serif;
  position: absolute;
  left: 6px;
  top: 44px;
}
body .contact-notepad .contact-notepad-form .contact-notepad-textarea {
  width: 660px;
  height: 350px;
  border: none;
  overflow: hidden;
}
body .contact-notepad .contact-notepad-form .contact-notepad-textarea:focus {
  outline: none;
}
body .portfolio-background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -10;
  opacity: 50%;
}
body .art-gallery {
  margin-top: 125px;
  padding: 35px;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
body .art-gallery img {
  width: 80%;
  margin-left: 10%;
  filter: grayscale(0.1) drop-shadow(6px 6px 0px #c2074f);
  transition: all 0.2s cubic-bezier(0.83, 0.13, 0.22, 0.99);
}
body .art-gallery img:hover {
  filter: grayscale(0) drop-shadow(16px 16px 0px #000463);
  scale: 110%;
}
body .art-gallery #art-gallery-img-1 {
  transform: translate(0, 5%) rotate(-25deg);
}
body .art-gallery #art-gallery-img-2 {
  transform: translate(0, -25%) rotate(22deg) scale(120%);
}
body .art-gallery #art-gallery-img-3 {
  transform: translate(0, 15%) rotate(-15deg) scale(120%);
}
body .art-gallery #art-gallery-img-4 {
  transform: translate(0, -5%) rotate(15deg) scale(105%);
}
body .art-gallery #art-gallery-img-5 {
  transform: translate(0, 20%) rotate(12deg) scale(150%);
}
body .art-gallery #art-gallery-img-6 {
  transform: translate(0, 10%) rotate(12deg) scale(100%);
}
body .art-gallery #art-gallery-img-7 {
  transform: translate(0, 30%) rotate(-25deg) scale(160%);
}
body .galleryOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 4, 99, 0.4666666667);
  z-index: 10;
  left: 0;
  top: 0;
}
body .galleryClose {
  position: fixed;
  z-index: 11;
  background-color: #c2074f;
  color: #ffffff;
  width: 35px;
  height: 35px;
  padding: 0;
  top: 25px;
  left: 25px;
}
body .galleryClose:hover {
  top: 22px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
body .galleryClose img {
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}
body .galleryIMG img {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 90vh;
  z-index: 11;
}
body .invisible {
  visibility: hidden;
}
body .visible {
  visibility: visible;
}/*# sourceMappingURL=style.css.map */